@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h3>Chat Application</h3>
                <span id="total_client" class="ms-3">Total Clients: <asp:Literal ID="LiteralTotalClients" runat="server"></asp:Literal></span>
            </div>
            <div class="card-body">
                <ul id="messagesList"></ul>
                <div class="input-group">
                    <div class="form-control">
                        username: <input type="text" id="userInput" />
                        message:  <input type="text" id="messageInput"/>

                    </div>

                    <div class="input-group-append">
                        <button id="sendButton" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
